<section class="banner" >
    <div class="block-image">
        <picture>
            <source [srcset]="data.background.desktop" media="(min-width: 767px)" >
            <img [src]="data.background.mobile" alt="Banner microfóno principal" height="auto" width="100%">
        </picture>
    </div>
    <div class="block-information">
        <div class="container">
            <span class="tag">{{data.tag}}</span>
            <h1 class="title">{{data.title}}</h1>
            <div class="description d-none d-sm-block" [style.background]="data.color">
                <p>{{data.summary}}</p>
            </div>
            <span class="tag tag-right">{{data.tagLower}}</span>
            <div class="logos d-flex ai-center">
                <div class="item" *ngFor="let logo of data.logos">
                    <a [href]="logo.url" target="_blank">
                        <img [src]="logo.image" alt="Logo Spotify">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
