@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";
.banner{
    position: relative;
    .block-image{
        img{
            max-width: 100%;
        }
    }
    .block-information{
        color:color(grayscale,white);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    .title{
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin:2rem 0;
        max-width: 253px;
    }
    .tag{
        font-size: map-get($sizes,tiny);
        &:before{
            background: color(grayscale,white);
            content: '';
            display: inline-block;
            height: 1px;
            margin-right: 0.5rem;
            vertical-align: middle;
            width: 25px;
        }
        &.tag-right{
            &:before{
                content: none;
            }
            &:after{
                background: color(grayscale,white);
                content: '';
                display: inline-block;
                height: 1px;
                margin-left: 0.5rem;
                vertical-align: middle;
                width: 25px;
            }
        }
    }
    .logos{
        flex-wrap: wrap;
        margin-top: 2rem;
        .item{
            background: color(grayscale,white);
            border-radius: 4px;
            margin-bottom: 0.8rem;
            margin-right: 0.8rem;
            &:last-child{
                margin-right: 0;
            }
            img{
                display: block;
                height: 25px;
            }
        }
    }
}
@include mq-min(xs){
    .banner{
        .logos{
            .item{
                img{
                    height: 30px;
                }
            }
        }
    }
}
@include mq-min(s){
    .banner{
        .logos{
            .item{
                img{
                    height: 34px;
                }
            }
        }
    }
}
@include mq-min(sm){
    .banner{
        .block-information{
            color:color(primary,dark);
        }
        .title{
            margin:2.5rem 0;
            max-width: 450px;
        }
        .description{
            color:color(grayscale,gray-5);
            max-width: 400px;
            margin:0 0 2.5rem;
        }
        .tag{
            color:color(primary,base);
            &:before{
                background:color(primary,base);
            }
            &.tag-right{
                &:after{
                    background:color(primary,base);
                }
            }
        }
        .logos{
            .item{
                background: transparent;
                border:1px solid color(third,base);
                margin-right: 2rem;
            }
        }
    }
}