<header #menu>
    <div class="container d-block d-sm-flex  jc-space-between ai-center">
        <button class="btn-toggle d-inline-block d-md-none" (click)="openMenu()" [class.show-menu]="toggleMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="logo">
            <a routerLink="/">
                <img src="/assets/images/logos/gocast-logo.svg" alt="Logo Gocast">
            </a>
        </div>
        <nav class="nav-mainmenu" [class.show-menu]="toggleMenu">
            <ul class="d-block d-md-flex">
                <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/">About</a>
                </li>
                <li>
                    <a routerLink="/">Episode</a>
                </li>
                <li>
                    <a routerLink="/">Blog</a>
                </li>
                <li>
                    <a routerLink="/">pages</a>
                </li>
                <li>
                    <a routerLink="/">Contactos</a>
                </li>
            </ul>
        </nav>
        <nav class="header-btns">
            <ul class="d-flex">
                <li>
                    <a class="btn btn-primary suscribe" routerLink="/">Suscribe</a>
                </li>
                <li>
                    <a class="btn btn-primary outline donate" routerLink="/">
                        <span class="icon-paypal"></span>
                        Donates
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
