@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";

header{
    background: color(grayscale,white);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    .container{
        padding: 0.8rem 1.6rem;
        position: relative;
    }
}
.btn-toggle{
    background: transparent;
    border:0;
    padding: 0 0.5rem 0 0;
    position: relative;
    vertical-align: middle;
    &.show-menu {
        span{
            &:nth-child(1) {
                left: 0px;
                margin: 0;
                position: absolute;
                opacity: 0.9;
                top: 5px;
                width: 20px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                background-color: transparent;
                height: 12px;
                visibility: hidden;
            }
            &:nth-child(3) {
                left: 0px;
                margin: 0;
                opacity: 0.9;
                position: absolute;
                top: 5px;
                width: 20px;
                transform: rotate(-135deg);
            }
        }
    }
    span{
        background: color(primary,base);
        display: block;
        height: 2px;
        margin-bottom: 2px;
        transition: all .4s;
        width: 20px;
    }
    &:hover,
    &:focus{
        outline: none;
    }
}
.logo{
    display: inline-block;
    vertical-align: middle;
    max-width: 80px;
    img{
        display: block;
        height: auto;
        max-width: 100%;
    }
}
.nav-mainmenu{
    background: color(grayscale,white);
    height: 100%;
    left: -100%;
    padding: 1.6rem;
    position: fixed;
    transition: all .5s ease;
    top: 29px;
    width: 100%;
    &.show-menu{
        left: 0;
    }
    ul{
        li{
            margin-bottom: 1.6rem;
            a{
                color: color(primary,dark);
                font-size: map-get($sizes,small);
                position: relative;
                transition: all .5s ease;
                &:after{
                    background: color(primary,base);
                    bottom: -0.8rem;
                    content: '';
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    transition: all .5s ease;
                    width: 0;
                }
                &:hover,
                &.active{
                    color:color(primary,base);
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.header-btns{
    .suscribe{
        top: 0.5rem;
    }
}
@include mq-max(md){
    .header-btns{
        .suscribe{
            font-size: map-get($sizes,1.2rem);
            height: 30px;
            line-height: 30px;
            position: absolute;
            right: 1rem;
        }
        .donate{
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            height: 30px;
            line-height: 30px;
            padding: 0 1rem;
            position: fixed;
            right: -70px;
            transition: all .5s;
            top: 20%;
            @include button(color(primary,base),color(grayscale,white));
            &:hover,
            &:focus{
                right: 0;
            }
        }
    }
}
@include mq-min(sm){
    header{
        .container{
            padding: 1.6rem;
        }
    }
    .nav-mainmenu{
        top: 48px;
    }
    .header-btns{
        .suscribe{
            top: 1rem;
        }
    }
}
@include mq-min(md){
    header{
        background: transparent;
        transition: all .5s ease;
        .container{
            padding: 4rem 1rem; 
            transition: all .5s ease;
        } 
        &.on-scroll{
            background: color(grayscale,white);
            .container{
                padding: 1.6rem 1rem;
                transition: all .5s ease;
            }
        }
    }
    .logo{
        max-width: 185px;
    }
    .nav-mainmenu{
        background: transparent;
        position: relative;
        left: inherit;
        top: inherit;
        width: auto;
        ul{
            li{
                margin:0;
                margin-right: 3.6rem;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .header-btns{
        li{
            margin-right: 3.1rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
