@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?duqveu');
  src:  url('fonts/icomoon.eot?duqveu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?duqveu') format('truetype'),
    url('fonts/icomoon.woff?duqveu') format('woff'),
    url('fonts/icomoon.svg?duqveu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-link:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-skype:before {
  content: "\e90a";
}
.icon-paypal:before {
  content: "\e909";
}
