.btn{
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    text-decoration: none;
    &.btn-primary{
        border:1px solid color(primary,base);
        @include button(color(primary,base), color(grayscale,white) );
        &.outline{
            @include button(color(grayscale,white), color(primary,base) );
            &:hover,
            &:focus,
            &:active{
                background: color(primary,base);
                color: color(grayscale,white);
            }
        }
    }
}