form{
    mat-form-field{
        width: 100%;
        .mat-form-field-underline{
            display: none;
        }
    }
    textarea{
        min-height: 40px;
    }
    .mat-form-field-appearance-fill {
        .mat-form-field-flex{
            padding: 1.04em .75em 0.5rem .75em;
        }
    }
}
.form-actions{
    text-align: center;
    span{
        vertical-align: -8px;
    }
}
.mat-form-field-appearance-fill {
    font-size: map-get($sizes,tiny);
    .mat-form-field-flex{
        background: color(secondary,light);
        padding: 1.04em .75em 0.5rem .75em;
    }
    &.mat-form-field-can-float{
        .mat-form-field-label{
            color:color(primary,light);
        }
    }
    &.mat-form-field-should-float{
        .mat-form-field-label{
            color:color(primary,base);
        }
    }
}
@include mq-min(md){
    form{
        textarea{
            min-height: 90px;
        }
    }
}