.slick-prev{
    color:color(primary,dark);
    &:before{
        content: "\e900";
        color:color(primary,dark);
        font-family: $font-icons;
    }
}
.slick-next{
    color:color(primary,dark);
    &:before{
        content: "\e901";
        color:color(primary,dark);
        font-family: $font-icons;
    }
}
.blog-items{
    .slick-next,
    .slick-prev{
        bottom: -4rem;
        left: calc(50% - 2rem);
        position: absolute;
        transform: translateX(-50%);
        top: inherit;
    }
    .slick-next{
        left: calc(50% + 2rem);
    }
}