<section class="newsletter">
    <div class="container">
        <h2 class="title-section">New Episode Every Week!</h2>
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed.</p>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="sendContactForm($event)">
            <div class="grid">
                <div class="grid-12 grid-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Type Your Name</mat-label>
                        <input matInput placeholder="Type Your Name" formControlName="name">
                        <mat-error *ngIf="formGroup.get('name')?.errors">
                        El nombre es requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="grid-12 grid-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Type Your number phone</mat-label>
                        <input matInput placeholder="Type Your number phone" formControlName="phone">
                    </mat-form-field>
                </div>
                <div class="grid-12 grid-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Type your address</mat-label>
                        <input matInput placeholder="Type your address" formControlName="address">
                    </mat-form-field>
                </div>
                <div class="grid-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Type your message</mat-label>
                        <textarea matInput placeholder="Type your message" formControlName="message"></textarea>
                    </mat-form-field>
                </div>
                <div class="grid-12 form-actions">
                    <button class="btn btn-primary" type="submit" [disabled]="formGroup.invalid">Suscribe <span class="material-icons">east</span></button>
                </div>
            </div>
        </form>
    </div>
</section>