@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";
.newsletter{
    margin:4.8rem 0 7.4rem;
}
.title-section{
    margin-bottom:2.8rem;
    text-decoration: underline;
}
.description{
    color: color(grayscale,gray-6);
    font-size: map-get($sizes,small);
    margin:0 auto 3rem;
    text-align: center;
}
.form-actions{
    margin-top: 1.4rem;
    .btn{
        height: 60px;
        line-height: 60px;
        min-width: 258px;
    }
}
@include mq-min(md){
    .title-section{
        margin-bottom:3rem;
    }
    .newsletter{
        margin:12rem 0 4rem;
    }
    .description{
        max-width: 502px;
    }
    .form-actions{
        margin-top:0;
    }
}