@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";
.feeds-instagram{
    .title-section{
        margin-bottom: 2.5rem;
    }
    .container{
        padding: 0;
    }
}
.masonry-item{
    max-width: 50%;
    img{
        display: block;
        height: auto;
        width: 100%;
    }
    a{
        display: block;
        position: relative;
        &:hover,
        &:focus{
            &:before{
                opacity: 0.5;
            }
            &:after{
                opacity: 1;
            }
        }
        &:after{
            align-items: center;
            background: hex-to-rgba(color(grayscale,black), 0.6);
            border-radius: 100%;
            display: flex;
            content: "\e905";
            color: color(grayscale,white);
            font-family: $font-icons;
            font-size: 3rem;
            height: 6.5rem;
            justify-content: center;
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%,-50%);
            transition: all .5s;
            top: 50%;
            width: 6.5rem;
        }
        &:before{
            background: color(grayscale,black);
            content: "";
            display: flex;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            transition: all .5s;
            top: 0;
            width: 100%;
        }
    }
}
@include mq-min(md){
    .masonry-item{
        max-width: 25%;
    }
    .feeds-instagram{
        .title-section{
            margin-bottom: 4rem;
        }
        .container{
            padding: 0 1.6rem;
        }
    }
}