<section class="feeds-instagram">
    <h2 class="title-section">Instagram feeds</h2>
    <div class="container">
        <ngx-masonry>
            <div ngxMasonryItem class="masonry-item" *ngFor="let item of feeds">
                <a href="/">
                    <img [src]="item.image" [alt]="item.alt">
                </a>
            </div>
        </ngx-masonry>
    </div>
</section>
