<section class="blog-post">
    <h2 class="title-section">Blog post</h2>
    <div class="blog-items">
        <div class="container">
            <ngx-slick-carousel class="carousel" ngxSlickItem [config]="slideConfig">
                <div class="item" *ngFor="let slide of posts" class="slide">
                    <div class="content">
                        <div class="top-information">
                            <p><span class="name">{{slide.name}}</span> {{slide.date}}</p>
                            <p class="category">{{slide.category}}</p>
                        </div>
                        <h3 class="title-post">
                            <a [routerLink]="slide.link">{{slide.title}}</a>
                        </h3>
                        <div class="description" [innerHTML]="slide.description">

                        </div>
                        <div class="link">
                            <a [routerLink]="slide.link" class="btn btn-primary outline">Read More</a>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>