@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";

.blog-post{
    margin:4.8rem 0;
    .container{
        max-width: 1200px;
        padding:0;
    }
    .title-section{
        text-align: center;
    }
}
.blog-items{
    margin:3.2rem 0 10rem;
    .container{
        box-shadow: 0px 10px 34px 19px rgba(62,62,62,0.03);
    }
}
.slide{
    padding:0 0 0 1.6rem;
    width: 310px;
    .content{
        background: color(grayscale,white);
        box-shadow: 0px 10px 34px 19px rgba(62,62,62,0.03);
        margin-bottom: 1rem;
        padding: 4.2rem 3.5rem; 
        position: relative;
        transition: all .5s;
        &:hover,
        &:focus{
            box-shadow:0px 4px 12px 5px rgba(62,62,62,0.09);
            transition: all .5s;
        }
        .top-information{
            color:color(grayscale,gray-2);
            font-size: map-get($sizes,tiny);
            position: relative;
            &:before{
                background: color(primary,base);
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                content: '';
                display: block;
                height: 100%;
                left: -3.5rem;
                position: absolute;
                top: 0;
                width: 0.4rem;
            }
            .name{
                color:color(primary,base);
                font-size: map-get($sizes,base);
            }
        }
        .title-post{
            font-size: map-get($sizes,thumb);
            font-weight: map-get($weight,semibold);
            line-height: 3.4rem;
            margin:1.5rem 0;
            a{
                color:color(primary,dark);
                &:hover,
                &:focus{
                    color:color(primary,base);
                }
            }
        }
        .description{
            color:color(grayscale,gray-6);
            font-size: map-get($sizes,small);
            margin-bottom: 3rem;
        }
        .link{
            a{
                &:before{
                    content: '';
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
    }
}

@include mq-min(md){
    .slide{
        padding:0 1.6rem;
        width:400px;
    }
    .blog-post{
        margin:10rem 0;
    }
    .blog-items{
        margin-bottom: 0;
        .container{
            margin: 2rem auto;
        }
    }
    .blog-items{
        margin:4rem 0;
    }
}