%title-section{
    color:color(primary,dark);
    font-size:2rem;
    font-weight: map-get($weight,semibold);
}
@include mq-min(sm){
    %title-section{
        font-size:map-get($sizes,half);
    }
}