
// primary font 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

//font web - icons
@font-face {
    font-family: 'iconWeb';
    src:  url('/assets/fonts/iconWeb/iconWeb.eot?duqveu');
    src:  url('/assets/fonts/iconWeb/iconWeb.eot?duqveu#iefix') format('embedded-opentype'),
      url('/assets/fonts/iconWeb/iconWeb.ttf?duqveu') format('truetype'),
      url('/assets/fonts/iconWeb/iconWeb.woff?duqveu') format('woff'),
      url('/assets/fonts/iconWeb/iconWeb.svg?duqveu#iconWeb') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconWeb' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}