html{
    font-size: 62.5%;
}
body{
    font-family: $font-primary;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
a{
    text-decoration: none;
}
.title-section{
    text-align: center;
    @extend %title-section;
}
@include mq-max(md){
    .main-container{
        margin-top: 4.8rem;
    }
}
@include mq-max(sm){
    .main-container{
        margin-top: 4rem;
    }
}