.icon-arrow-left:before {
    content: "\e900";
}

.icon-arrow-right:before {
    content: "\e901";
}

.icon-download:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\e903";
}

.icon-instagram:before {
    content: "\e904";
}

.icon-link:before {
    content: "\e905";
}

.icon-linkedin:before {
    content: "\e906";
}

.icon-menu:before {
    content: "\e907";
}

.icon-play:before {
    content: "\e908";
}

.icon-skype:before {
    content: "\e90a";
}

.icon-paypal:before {
    content: "\e909";
}
