// =====
// Fonts
//===

$font-primary:'Josefin Sans', sans-serif;
$font-icons:'iconWeb';
// =====
// Colors
//===

$colors:(
    primary: ( base: #FF5300, light: #C2C2C2, dark: #222222),
    secondary:( base: #222222, light: #F5F5F5),
    third:(base:#E5E5E5),
    grayscale:( white: #ffffff, gray-1:#C2C2C2, gray-2: #ACACAC, gray-3:#999999, gray-4:#222222, gray-5:#555555, gray-6:#777777,black:#000000)
);

$sizes:(
    tiny: 1.4rem,
    small: 1.5rem,
    base:1.6rem,
    thumb: 2.4rem,
    half:3.2rem,
    big:5.2rem
);

$weight:(
    regular:400,
    medium: 500,
    semibold:600,
    Bold: 700
);

$breakpoints:(
    xs: 330px,
    s:376px,
    sm:768px,
    md:960px,
    ml:1100px,
    lg:1285px,
    xl:1921px
);