<footer>
    <div class="container">
        <div class="top-footer">
            <div class="grid">
                <div class="grid-12 grid-sm-5">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="/assets/images/logos/gocast-logo.svg" alt="Logo Gocast">
                        </a>
                    </div>
                    <div class="description d-none d-sm-block">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>
                    <div class="share">
                        <h3 class="d-none d-sm-block">Social</h3>
                        <nav>
                            <ul class="d-flex">
                                <li>
                                    <a href="" target="_blank">
                                        <span class="icon-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="icon-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="icon-instagram"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank">
                                        <span class="icon-skype"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="grid-12 grid-sm-7">
                    <div class="grid">
                        <div class="grid-5 grid-sm-4">
                            <nav>
                                <ul>
                                    <h3>Pages</h3>
                                    <li>
                                        <a>About</a>
                                    </li>
                                    <li>
                                        <a>Episode</a>
                                    </li>
                                    <li>
                                        <a>Blog</a>
                                    </li>
                                    <li>
                                        <a>Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="grid-7 grid-sm-4">
                            <nav>
                                <ul>
                                    <h3>Recent Episodes</h3>
                                    <li>
                                        <a>Episodes 1</a>
                                    </li>
                                    <li>
                                        <a>Episodes 2</a>
                                    </li>
                                    <li>
                                        <a>Episodes 3</a>
                                    </li>
                                    <li>
                                        <a>Episodes 4</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="grid-12 grid-sm-4">
                            <ul>
                                <h3 class="title-logos">Listen My Podcasts Also In</h3>
                                <div class="logos">
                                    <div class="item">
                                        <a href="www.spotify.com" target="_blank">
                                            <img src="/assets/images/logos/spotify.svg" alt="Logo Spotify">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="www.google.com" target="_blank">
                                            <img src="/assets/images/logos/google-podcast.svg" alt="Logo Google podcast">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="www.apple.com" target="_blank">
                                            <img src="/assets/images/logos/apple-podcast.svg" alt="Logo Apple Podcast">
                                        </a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer d-flex jc-center">
            <p>@2020 Themefisher All Rights Reserved | Design By : Themefisher.designer</p>
        </div>
    </div>
</footer>