@import "../../../../assets/scss/settings/variables";
@import "../../../../assets/scss/settings/mixins";
footer{
    margin-top: 5.5rem;
    h3{
        font-size: 1.6rem;
        font-weight: normal;
        margin:1.2rem 0 2.5rem;
    }
    .logo{
        margin-bottom: 2.4rem;
        text-align: center;
        a{
            display: inline-block;
        }
    }
    ul{
        li{
            margin-bottom: 2.5rem;
            a{
                color:color(grayscale,gray-3);
                cursor: pointer;
                font-size: map-get($sizes,tiny);
                &:focus,
                &:hover{
                    opacity: 0.9;
                }
            }
        }
    }
    .grid-5{
        nav{
            padding-left: 4.4rem;
        }
    }
    .grid-7{
        nav{
            padding:0 3rem;
        }
    }
    .share{
        h3{
            margin-bottom: 2rem;
        }
        ul{
            justify-content: center;
            li{
                margin-right: 2.7rem;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: color(primary,base);
                    font-size: 4.5rem;
                    &:hover,
                    &:focus{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .description{
        color:color(grayscale,gray-3);
        font-size: map-get($sizes,tiny);
        margin:2.5rem 0;
        max-width: 321px;
    }
}
.bottom-footer{
    border-top: 1px solid color(third,base);
    margin-top: 3rem;
    padding: 3rem 0;
}
.title-logos{
    text-align: center;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item{
        border:1px solid color(third,base);
        display: inline-block;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        max-width: 48%;
        &:first-child{
            order:3;
        }
        img{
            height: auto;
            max-width: 100%;
        }
    }
}
@include mq-min(md){
    footer{
        .logo{
            margin-bottom: 0;
            text-align: left;
        }
        .share{
            ul{
                justify-content: flex-start;
            }
        }
    }
    .bottom-footer{
        margin-top: 8.4rem;
        padding: 5.5rem 0;
    }
    .grid-5,
    .grid-7{
        nav{
            padding:0;
        }
    }
    .title-logos{
        text-align: left;
    }
    .logos{
        display: block;
        .item{
            max-width: 100%;
            margin-right: 0;
        }
    }
}